<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Dublin Bike App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='Css_bikes.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:500,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="headbar">
                <img src= "{{ url_for('static',filename='img/bike.png') }}" alt="bike pic">
                <span id="firstUndLn"></span>
                <h1>DUBLIN BIKES MAPPER</h1>
                <span id="secondUndLn"></span>
                <img src="{{ url_for('static',filename='img/marker.png') }}" alt="marker pic">
            </div>
        </header>
        <main>
            <div id="map"></div>
            <section id="sidebar">
                <div id="message">
                  <h2>WHO TOLD YOU IT IS ALL ABOUT LUCK?</h2>
                  <p>Right now <span>64%</span> of all bikes<br>are being used. Let us predict the best stations for you.</p>
                </div>
                <div id="trip">
                  <div id="tripButtons">
                    <div class="tripBtn" id="realtimeBtn">
                      <img src="{{ url_for('static',filename='img/destination.png') }}" alt="real time button">
                      <span>REAL TIME</span>
                    </div>
                    <div class="tripBtn" id="plantripBtn">
                      <img src="{{ url_for('static',filename='img/calendar.png') }}" alt="plan your trip button">
                      <span>PLAN YOUR TRIP</span>
                    </div>
                  </div>
                  <div id="form">
                    <p>Need a bike right now?</p>
                    <div class="inputs">
                      <div id="from">
                        <span>FROM:</span>
                        <input id="searchTextField" type="text" size="50" placeholder="Enter starting point" autocomplete="on" runat="server" onclick="initialize()"/>
                      </div>
                      <div id="to">
                        <span>TO:</span>
                        <input id="searchTextField2" type="text" size="50" placeholder="Enter ending point" autocomplete="on" runat="server" onclick="initialize2()" />
                      </div>
                    </div>

                    <!-- <div class="inputs">
                      <div id="from">
                        <span>FROM:</span>
                        <input id="searchTextField" type="text" size="50" placeholder="Enter starting point" autocomplete="on" runat="server" onclick="initialize()"/>
                      </div>
                      <div id="to">
                        <span>TO:</span>
                        <input id="searchTextField2" type="text" size="50" placeholder="Enter ending point" autocomplete="on" runat="server" onclick="initialize2()" />
                      </div>
                      <div id="datetime">
                        <div id="day">
                          <span>DAY:</span>
                          <select id="dayInput">
                            <option value="today">today</option>
                            <option value="nMonday">next monday</option>
                            <option value="nTuesday">next tuesday</option>
                            <option value="nWednesday">next wednesday</option>
                            <option value="nThursday">next thursday</option>
                            <option value="nFriday">next friday</option>
                            <option value="nSaturday">next saturday</option>
                            <option value="nSunday">next sunday</option>
                          </select>
                        </div>
                        <div id="time">
                          <span>TIME:</span>
                          <input id="timeInput" type="time">
                        </div>
                      </div>
                    </div>
                    <button id="submit" type="submit">SUBMIT</button> -->
                    
                  </div>
                </div>
                <div id="weather">
                  <h2>13 MARCH 2019<br>DUBLIN, IRELAND</h2>
                  <div id="conditions">
                    <div class="condition">
                      <img src="{{ url_for('static',filename='img/drizzle.png') }}" alt="forecast pic">
                      <span>RAIN</span>
                    </div>
                    <div class="condition">
                      <img src="{{ url_for('static',filename='img/thermometer.png') }}" alt="thermometer pic">
                      <span>12°C</span>
                    </div>
                    <div class="condition">
                      <img src="{{ url_for('static',filename='img/breeze.png') }}" alt="wind pic">
                      <span>29 KM/h</span>
                    </div>
                  </div>
                </div>
              </section>
              <div id="dropup">
                <p id="sourceTitle"></p>
                <p id="sourceList"></p>
                <p id="destTitle"></p>
                <p id="destList"></p>
              </div>
        </main>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
        
        <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script>
            // functions to change from real time to plan trip
            var planTrip=document.getElementById("plantripBtn");
            var realTime=document.getElementById("realtimeBtn");
            var form=document.getElementById("form");
            planTrip.onclick=function() {
              realTime.style.backgroundColor="#1a4a50";
              planTrip.style.backgroundColor="#2c7c87";
              form.innerHTML='<div class="inputs"><div id="from"><span>FROM:</span><input id="searchTextField" type="text" size="50" placeholder="Enter starting point" autocomplete="on" runat="server" onclick="initialize()"/></div><div id="to"><span>TO:</span><input id="searchTextField2" type="text" size="50" placeholder="Enter ending point" autocomplete="on" runat="server" onclick="initialize2()" /></div><div id="datetime"><div id="day"><span>DAY:</span><select id="dayInput"><option value="today">today</option><option value="nMonday">next monday</option><option value="nTuesday">next tuesday</option><option value="nWednesday">next wednesday</option><option value="nThursday">next thursday</option><option value="nFriday">next friday</option><option value="nSaturday">next saturday</option><option value="nSunday">next sunday</option></select></div><div id="time"><span>TIME:</span><input id="timeInput" type="time"></div></div></div><button id="submit" type="submit">SUBMIT</button>';
              form.style.paddingTop="35px";
            }

            realTime.onclick=function() {
              realTime.style.backgroundColor="#2c7c87";
              planTrip.style.backgroundColor="#1a4a50";
              form.innerHTML='<p>Need a bike right now?</p><div class="inputs"><div id="from"><span>FROM:</span><input id="searchTextField" type="text" size="50" placeholder="Enter starting point" autocomplete="on" runat="server" onclick="initialize()"/></div><div id="to"><span>TO:</span><input id="searchTextField2" type="text" size="50" placeholder="Enter ending point" autocomplete="on" runat="server" onclick="initialize2()" /></div></div>'
              form.style.paddingTop="0px";
            }

            // To get data from flask
            var myObj={{ data|tojson }};
            

            // document.getElementById("demo7").innerHTML=myObj2;

            var lat=new Array(myObj.length);
            var long=new Array(myObj.length);

    //To get the list of latitude of stations
            for(var i=0;i<myObj.length;i++)
            {
              lat[i]=myObj[i][6];
            }

     //To get the list of longitude of stations
            for(var i=0;i<myObj.length;i++)
            {

                long[i]=myObj[i][7];
            }


    //To get the list of latitude and longitude of stations as a tuple
            var latlong=new Array(myObj.length);
            for(var i=0;i<myObj.length;i++)
                {
                    latlong[i]=[lat[i],long[i]];
                }

            

    //To fetch the list of station names
            var address_2=new Array(myObj.length);
            var static_station_no=new Array(myObj.length);
            for(var i=0;i<myObj.length;i++)
                {
                address_2[i]=myObj[i][0];
               // static_station_no[i]=myObj[i][5];
                }
        
            //document.getElementById("demo7").innerHTML= station_no_bikes_avail_stand;
            //document.getElementById("demo8").innerHTML= station_no_bikes_avail_stand.length;
             //latest update following lines for individual marker update 
            var station_num=new Array(myObj.length);
            for(var i=0;i<myObj.length;i++)
            {
                station_num[i]=myObj[i][5];
             }

            var infowindow;

     //To set up the map with desired properties
            function myMap() {
                var myCenter = {lat: 53.349605, lng:-6.264175 };
                var mapCanvas = document.getElementById("map");
                var mapOptions = {center: myCenter, zoom: 14};
                var map = new google.maps.Map(mapCanvas, mapOptions);
                infowindow = new google.maps.InfoWindow({
                    maxWidth: 355
                    });
                for(var j=0;j<latlong.length;j++)
                {
                    var marker=new google.maps.Marker({
                    position:new google.maps.LatLng(latlong[j][0],latlong[j][1]),
                    map:map,
                    addre:address_2[j],
                    station_no:station_num[j]

            });
      popupDirections(marker);

                }

            }
            function popupDirections(marker) {

                //This function created listener listens for click on a marker to show information specific to that marker
                google.maps.event.addListener(marker, 'click', function () {
                    
                    myFunction(marker.station_no);
                function myFunction(x) {
                $.getJSON($SCRIPT_ROOT + '/update', {
                    post: x
                }, function(data) {
             
           
            var response=({{ data|safe }})
             var response = data;

                  infowindow.setContent("Address: " + marker.addre +"<br>"+"Station No: " + response[1]+"<br>"+"Available Bikes: "+response[2]+"<br>"+"Available Bike Stands: "+response[3]); 
                    infowindow.open(map, marker); //This opens the infowindow at the marker
                    
                }
                );
            }
                    
                     });
            }
            
             function myfunction_get_updated_available_bikes_and_stands(latitude,longitude,m)
            {
                var latitude=latitude;
                var longitude=longitude;
                var m=m;
                
                $.getJSON($SCRIPT_ROOT + '/all_available_details', {
                    post: 0
                }, function(data) {
             
                var response_2=({{ data|safe }})
                var response_2 = data;
                var station_number=new Array(response_2.length);
               
                for (var i=0;i<response_2.length;i++)
                    {
                        
                       station_number[i]= response_2[i][0]; 
                        
                    }
                
                var common_station_no = station_number.filter(id => station_num.includes(id));  //station_num is the static station number received from table station
                   
                var station_no_bikes_avail_stand=new Array(common_station_no.length);
                for(var i=0;i<common_station_no.length;i++)
                {
                    for(var j=0;j<response_2.length;j++)
                        {
                            if(common_station_no[i]==response_2[j][0])
                                {

                                station_no_bikes_avail_stand[i]=[response_2[j][0],response_2[j][1],response_2[j][2]];

                                }
                        }
                }
                getDistanceFromLatLonInKm(latitude,longitude,m,station_no_bikes_avail_stand);
             }
        );   
    }

            //This function finds the closest station corresponding to the chosen source and destination by the user

            function getDistanceFromLatLonInKm(latitude,longitude,m,station_no_bikes_avail_stand){
                var x= latitude;
                var y=longitude;
                var closest_location;
                var min=0;
                var axis=0;
                var value=0;
                var dist_array=new Array(latlong.length);
                for(var i=0;i<latlong.length;i++)
                {
                    axis=((x-latlong[i][0])*(x-latlong[i][0]))+((y-latlong[i][1])*(y-latlong[i][1]))
                    value=Math.sqrt(axis);
                    dist_array[i]=value;
                }
                    var min = Math.min.apply(Math, dist_array);
                    var idx=dist_array.indexOf(Math.min.apply(null,dist_array));
                    var idx_second_min_dist =dist_array.indexOf (Math.min.apply(null, dist_array.filter(n => n != min)));
                    var nearest_station=address_2[idx];

                    var second_nearest_station=address_2[idx_second_min_dist];
                    if(m==0)
                    {
                        var bike_available_nearest_station= station_no_bikes_avail_stand[idx][1];
                        var bike_available_second_near_station=station_no_bikes_avail_stand[idx_second_min_dist][1];
                        if(bike_available_nearest_station>0 ||bike_available_second_near_station>0 )
                            {
                            //document.getElementById("demo4").innerHTML="the minimum distance is "+min;
                            // document.getElementById("demo2").innerHTML="Nearest station to your source is: <b>"+nearest_station+"</b>.<br> "+"(Avaiable bikes: "+bike_available_nearest_station+")";
                            //
                            //  document.getElementById("demo4").innerHTML="Second nearest station to your souce is: <b>"+second_nearest_station+"</b>.<br> "+"(Avaiable bikes: "+bike_available_second_near_station+")";
                              document.getElementById("sourceTitle").innerHTML="Nearest stations to your source:"
                              document.getElementById("sourceList").innerHTML="1- <span>"+nearest_station+"</span> (Available bikes: "+bike_available_nearest_station+")<br> 2- <span>"+second_nearest_station+"</span> (Available bikes: "+bike_available_second_near_station+")"
                            }
                        /*
                        if(bike_available_second_near_station>0)
                            {
                             document.getElementById("demo4").innerHTML="the minimum distance is "+min;
                             document.getElementById("demo2").innerHTML="The secocnd nearest station to your souce coordinate is "+second_nearest_station+" "+"Number of avaiable bikes are:"+bike_available_second_near_station;

                            }

                            */
                        else
                            {

                            document.getElementById("sourceTitle").innerHTML="The two nearest stations to your location seems to be busy. Try again in few minutes!!";

                            document.getElementById("sourceList").innerHTML= " ";
                            }
                        //document.getElementById("demo4").innerHTML="the minimum distance is "+min;
                        //document.getElementById("demo2").innerHTML="The nearest station to your souce coordinate is "+nearest_station;

                    }
                    else{

                        var bike_stand_available_nearest_station= station_no_bikes_avail_stand[idx][2];
                        var bike_stand_available_second_near_station=station_no_bikes_avail_stand[idx_second_min_dist][2];


                        if(bike_stand_available_nearest_station>0 || bike_stand_available_second_near_station>0 )
                            {
                           // document.getElementById("demo5").innerHTML="the minimum distance is "+min;
                            // document.getElementById("demo5").innerHTML="Nearest station to your destination is <b>"+nearest_station+"</b>.<br> "+"(Avaiable bike stands: "+bike_stand_available_nearest_station+")";
                            //
                            // document.getElementById("demo6").innerHTML="Second nearest station to your destination is <b>"+second_nearest_station+"</b>.<br> "+"(Avaiable bike stands: "+bike_stand_available_second_near_station+")";

                            document.getElementById("destTitle").innerHTML="Nearest stations to your destination:"
                            document.getElementById("destList").innerHTML="1- <span>"+nearest_station+"</span> (Available bike stands: "+bike_stand_available_nearest_station+")<br> 2- <span>"+second_nearest_station+"</span> (Available bike stands: "+bike_stand_available_second_near_station+")"


                            }
                        /*
                        if(bike_stand_available_second_near_station>0)
                            {
                        document.getElementById("demo5").innerHTML="the minimum distance is "+min;
                        document.getElementById("demo6").innerHTML="The nearest station to your destination coordinate is "+second_nearest_station+" "+"Number of avaiable bike stands are:"+bike_stand_available_second_near_station ;

                            }

                            */
                        else
                            {

                            document.getElementById("destTitle").innerHTML="The two nearest stations to your location seems to be busy. Try again in few minutes!!";

                            document.getElementById("destList").innerHTML= " ";
                            }

                       // document.getElementById("demo5").innerHTML="the minimum distance is "+min;
                       // document.getElementById("demo6").innerHTML="The nearest station to your destination coordinate is "+nearest_station;
                    }
                    document.getElementById("dropup").style.display = "block";
                }

                //This function is triggered whenver user clicks on "Enter starting point" field to enter the source

                function initialize() {
                    var input = document.getElementById('searchTextField');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                        var place = autocomplete.getPlace();
                        var latitude = place.geometry.location.lat();
                        var longitude=place.geometry.location.lng();
                        var m=0;
                        
                        myfunction_get_updated_available_bikes_and_stands(latitude,longitude,m);
                        //getDistanceFromLatLonInKm(latitude,longitude,m);
                    });

                }

                //This function is triggered whenver user clicks on "Enter ending point" field to enter the destination

                function initialize2() {
                    var input = document.getElementById('searchTextField2');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                        var place = autocomplete.getPlace();
                        var latitude = place.geometry.location.lat();
                        var longitude=place.geometry.location.lng();
                        var m=1;
                        myfunction_get_updated_available_bikes_and_stands(latitude,longitude,m);
                        //getDistanceFromLatLonInKm(latitude,longitude,m);
                    });
                }

                google.maps.event.addDomListener(window, 'load', initialize);

        </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3XfuMJJGzaU8TUItQM7XWD4esZdbpgtA&callback=myMap&libraries=places"></script>
    </body>
</html>
