html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #1a4a50;
  color: darkgray;
  font-family: 'Exo 2', sans-serif;
  font-size: 10px;
  margin: 0;
}


/* Header */
#headbar {
  height: 35px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

#headbar h1 {
  height: 5vh;
  line-height: 30px;
  margin-top: 4px;
  width: 350px;
  text-align: center;
  margin-bottom: 0;
}

#headbar img {
  height: 30px;
  margin-right: 3px;
}

#headbar span {
  border-bottom: 2px solid white;
  margin-bottom: 8px;
}

#firstUndLn {
  width: 15%;
}

#secondUndLn {
  width: 100%;
}

/* Map */


/* Sidebar */
#sidebar {
  display: flex;
  height: 25vh;
}

/* Message */
#message {
  width: 25%;
}

#message h2 {
  font-size: 2.2em;
  text-align: right;
  font-weight: normal;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

#message p {
  display: block;
  font-size: 1.5em;
  text-align: right;
  font-weight: normal;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

#message span {
  color: #F6604B;
}

/* Trip */

#trip {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: center;
}

#trip:after {
  content:'';
  width: 2px;
  height: 150px;
  background: white;
  position: absolute;
  right: 0;
  top: 20px;
}

#trip:before {
  content:'';
  width: 2px;
  height: 150px;
  background: white;
  position: absolute;
  left: 0;
  top: 20px;
}

#tripButtons {
  width: 30%;
  text-align: center;
}

.tripBtn {
  font-weight: bold;
  width: 55%;
  margin: 0 auto;
}

.tripBtn:hover {
  cursor: pointer;
  /* opacity: 0.5;
  border: 1px solid white; */
  transform: scale(1.15);
}

.tripBtn img {
  display: block;
  height: 50px;
  margin: 0 auto;
  padding-bottom: 3px;
}

.tripBtn span {
  display: block;
  text-align: center;
}

#realtimeBtn {
  padding: 5px 0;
  margin-top: 7px;
  margin-bottom: 17px;
  border-radius: 7%;
  background-color: #2c7c87;
}

#plantripBtn {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px 0;
  /* opacity: 0.5; */
}


#form {
  width: 60%;
  text-align: center;
}

#form p {
  font-size: 1.8em;
  padding-top: 10px;
}

.inputs {
  padding-right: 40px;
}

#from, #to {
  padding-bottom: 15px;
  font-size: 1.3em;
}

#form span {
  display: inline-block;
  width: 45px;
  text-align: right;
}

#from input, #to input {
  width: 80%;
  margin-left: 5px;
  color: darkgrey;
}

#submit {
  width: 150px;
  background-color: #404040;
  color: white;
  font-size: 1.3em;
  border-color: darkgrey;
}

#submit:hover {
  cursor: pointer;
}


/* Weather */
#weather {
  width: 25%;
}

#weather h2 {
  text-align: center;
  font-weight: normal;
  line-height: 23px;
  padding-top: 10px;
  font-size: 1.7em;
}

#conditions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 13px;
}

.condition img {
  display: block;
  height: 38px;
  padding-bottom: 10px;
}

.condition span {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  display: block;
}
